*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #85c1e9;
}

.hill{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 70%;
    z-index: 5;
}
.cloud{
    height: 14%;
    position :absolute;
    top: 30px;
    left: 3%;
    animation: animecloud 30s 2s linear forwards;
    z-index: 5;
}

.bird{
    height: 100px;
    width: 100px;
    position: absolute;
    left: -10%;
    top: 40%;
    animation:animebird 20s 3s linear forwards;
    z-index: 4;
    
}

.drank{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(13,14,19,0.7);
    animation:animedrank 7s linear forwards;
}
.sun{
    
    width: 80px;
    height: 80px;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: rgb(234, 156, 18);
    box-shadow: 0px 0px 15px rgb(234, 156, 18),0px 0px 15px rgb(234, 156, 18) ;
    animation: animesun 10s linear forwards;
    z-index: 3;
}
@keyframes animesun{
    0%{
        position: absolute;
        top: 47%;
        left: 50%;
        background-color: rgb(234, 156, 18);
        box-shadow: 0px 0px 40px rgb(234, 156, 18),0px 0px 40px rgb(234, 156, 18) ;
    }
    100%{
        position: absolute;
        top: 10%;
        left: 50%;
        box-shadow: 0px 0px 20px rgb(234, 230, 18),0px 0px 20px rgb(234, 230, 18) ;
    }
}
@keyframes animedrank{
    0%{
        background: rgba(13,14,19,0.8);;
    }
    100%{
        background: rgba(13,14,19,0);
    }
}
@keyframes animebird{
    0%{
        position: absolute;
        left: -10%;
        top: 40%;
     
    }
    40%{
        position: absolute;
        top: 20%;
        left: 40%;
    }
    100%{
        position: absolute;
        top: 60%;
        left: 80%;
    }
}
@keyframes animecloud{
    0%{
        position: absolute;
        height: 14%;
        top: 30px;
        left: 3%;
    }
    10%{
        position: absolute;
        height: 14%;
        top: 40px;
        left: 20%;
    }
    20%{
        position: absolute;
        height: 14%;
        top: 30px;
        left: 30%;
    }
    30%{
        position: absolute;
        height: 14%;
        top: 40px;
        left: 40%;
    }
    40%{
        position: absolute;
        height: 14%;
        top: 30px;
        left: 50%;
    }
    50%{
        position: absolute;
        height: 14%;
        top: 40px;
        left: 60%;
    }
    100%{
        position: absolute;
        height: 14%;
        top: 30px;
        left: 70%;
    }
}


